<div class="card" style="width: 18rem;">
  <img src="https://miro.medium.com/max/1200/1*IE3d_VjZL9LPcxBW3YUTCQ.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= t('welcome') %></h5>
    <p class="card-text"><%= t('menu_message') %></p>
    <%= render "menu" %>
  </div>
</div>
 





